body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}
.text-center{
  text-transform: uppercase;
  text-shadow: 2px 4px 8px black;
  color: rgb(37, 84, 123);
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

#backgroundVideo {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background: url("placeholder.jpg") no-repeat;
  background-size: cover;
}

.suggestions {
  align-items: center;
  display: none;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  z-index: 1000;
}

.suggestions li {
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f8f9fa;
}
.btn btn-primary mt-3 {
  align-items: center;
}
h1 {
  --animate-duration: 2s;
}

/* This changes all the animations globally */
:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}
.btn btn-primary mt-3 {
  text-align: center;
}
.search-box {
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 50px;
}
.search-box>input{
  margin-left: 300px;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 3px 4px 8px black;
  border-radius: 20px;
  background-color: rgb(211, 219, 215);
  color: black;
}
.search-box>input:hover{
  background-color: rgb(123, 191, 192);
  border: 2px solid black;
  box-shadow: 4px 4px 8px rgb(180, 109, 109);
  
}
.search-box>input >::placeholder{
  font-size: 20px;
  color: black;
  text-transform: uppercase;

}
#searchButton{
  border: 2px solid black;
  border-radius: 20px;
  width: 200px;
  height: 50px;
  box-shadow: 3px 5px 8px black;
  margin-bottom: 20px;
  font-size: 20px;  
  
}
#searchButton:hover{
  background-color: rgb(114, 222, 232);
  color: black;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
}
.mt-3{
  justify-content: center;
  text-align: center;
  width: 1100px;
  margin-top: 100px;
  text-transform: uppercase;
  font-size: 20px;
  
}
.list-group-item{
  width: 350px;
  color: red;
  margin-left: 400px;
  background-color: rgb(214, 244, 163);
}
.list-group-item:hover{
  cursor: pointer;
  background-color: orange;
  color: black;
}

